<!DOCTYPE html>
<html>
<head>
  <title>Bloggy</title>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="blockout">

<div class="header"></div>

<div class="body">
<%= yield %>
</div>

<div class="footer"></div>

</div>
</body>
</html>
